.animated-box {
    width: 200px;
    height: 200px;
    background-color: #2a839c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
  }

  .spacer {
    height: 100vh; /* Space to scroll down */
  }